<mat-progress-bar *ngIf="!coll" mode="indeterminate"></mat-progress-bar>

<br>
<div *ngIf="coll" fxLayout="row wrap" fxLayoutAlign="start center" > 
  
  <h3 *ngIf="msg" style="padding:2%;"> Nenhuma Coleta Selecionada!</h3>
  
<ng-container *ngFor="let coleta of collect"  id="ng-c">
  <section style="padding: 1%;">
   
  <br>
<mat-card class="example-card " xFlex="0 1 calc(50% - 11px)"
fxFlex.lt-md="100%"
fxFlex.lt-sm="100%" >

    <mat-card-header>
        <div mat-card-avatar ><h1>{{coleta.ordem}}º</h1></div>
        <mat-card-title> {{coleta.endereco}}  </mat-card-title>  
        <mat-card-subtitle>{{coleta.ponto_ref}} | Previsão: {{coleta.previsao}}</mat-card-subtitle>      
    </mat-card-header>
   
    <mat-card-content>
      <p>
        <strong>{{coleta.nome}} </strong> | <strong>{{coleta.dt_nascimento | dataTime}}</strong><br>
        <strong>Telefone:</strong>{{coleta.telefone}}<br>
        <strong>Exames:</strong> {{coleta.exames}} <br>
        <strong>Convênio:</strong> {{coleta.convenio}} | <strong>Valor:</strong> R$ {{coleta.valor_total}} | <strong>Recebido: {{coleta.recebido}}</strong><br>
        <strong>Obs.:</strong> {{coleta.obs}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>delete</mat-icon>
      </button> -->
    </mat-card-actions>
  </mat-card>
  <br>
 
</section>


</ng-container>
  


</div>
<button class="imp" mat-icon-button on-click="print()">
  Imprimir
</button>
<table>
  <tr>
    <td class="ordem">Ordem</td>
    <td>Coleta</td>


  </tr>
  <tr *ngFor="let coleta of collect">
    <td class="ordem">{{coleta.ordem}}º
      <span>

        {{coleta.previsao}}
      </span>
    </td>
    <td>
      <span>
        Endereco: 
        {{coleta.endereco}} | Pronto de Ref. {{coleta.ponto_ref}} | 
        Tel:
        {{coleta.telefone}}
      </span>
      <span>
        Nome:
        {{coleta.nome}} |
        Dt. Nasc:
        {{coleta.dt_nascimento | dataTime}}
      </span>
      

      <span>
        Exames:
        {{coleta.exames}}
      </span>
      <span>
        <strong>Valor: </strong> R$ {{coleta.valor_total}} <br> 
        <strong>Recebido: {{coleta.recebido}} </strong><br> 
        <strong>Obs.: </strong> {{coleta.obs}}
      </span>

    </td>

  </tr>
</table>
