
<div fxLayout="row" fxLayoutAlign="space-around center" class="pad"> 

<mat-card class="example-card" xFlex="0 1 calc(50% - 11px)"
fxFlex.lt-md="0 1 calc(50% - 11px)"
fxFlex.lt-sm="100%">

    <mat-card-header>
        <div mat-card-avatar ><h1>1º</h1></div>
        <mat-card-title> Rua Jose, 296 | Proximo a XXXXXX</mat-card-title>  
        <mat-card-subtitle>Previsão: 7h30</mat-card-subtitle>      
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <strong>Wislla Nuânska </strong> | <strong>21/05/1997</strong><br>
        <strong>Telefone:</strong> 88 992151XXX<br>
        <strong>Exames:</strong> hemograma, glicose, <br>
        <strong>Convênio:</strong> Particular | <strong>Valor:</strong> R$ 205,00 | <strong>Recebido: S</strong><br>
        <strong>Obs.:</strong> XXXXXXXXXXXXXXXXXXXXXXXXX
      </p>
    </mat-card-content>
  
  </mat-card>

  <mat-card class="example-card" xFlex="0 1 calc(50% - 11px)"
fxFlex.lt-md="0 1 calc(50% - 11px)"
fxFlex.lt-sm="100%">

    <mat-card-header>
        <div mat-card-avatar ><h1>2º</h1></div>
        <mat-card-title> Rua Jose, 296 | Proximo a XXXXXX</mat-card-title>  
        <mat-card-subtitle>Previsão: 7h30</mat-card-subtitle>      
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <strong>Wislla Nuânska </strong> | <strong>21/05/1997</strong><br>
        <strong>Telefone:</strong> 88 992151XXX<br>
        <strong>Exames:</strong> hemograma, glicose, <br>
        <strong>Convênio:</strong> Particular | <strong>Valor:</strong> R$ 205,00 | <strong>Recebido: S</strong><br>
        <strong>Obs.:</strong> XXXXXXXXXXXXXXXXXXXXXXXXX
      </p>
    </mat-card-content>
  
  </mat-card>
  
      
</div>
