

<div class="example-container" style="padding: 2%;background-color:blue;">
<div fxLayout="column" fxLayoutAlign="space-around center" style="background-color:aquamarine;" > 
    <div fxLayout="row wrap" fxLayoutAlign="space-around center"  style="width: 100%; background-color:blueviolet;" > 
        <mat-form-field    
        fxFlex="50%"
        fxFlex.lt-sm="80%"
        >
            <mat-label>Usuario:</mat-label>
            <input  matInput  #user>    
        </mat-form-field>
    
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around center"  style="width: 100%; background-color:chartreuse;" > 
        <mat-form-field fxFlex="50%"
        fxFlex.lt-sm="80%" >
        <mat-label>Senha:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" #pass>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        
</div>
<h5 *ngIf="msg" style="color: brown;">Usuário ou senha Inválidos!</h5>
        <div mat-dialog-actions>        <!--//(click)="createCollect()"(click)="openSnackBar(message.value, action.value)" -->
            <button mat-raised-button (click)="loginUser(user.value, pass.value)">
            
                Entrar
            </button>
        </div>
    </div>
</div>