<section class="pad">
<h1> <mat-icon>calendar_today</mat-icon> Coletas Hoje </h1>
<div fxLayout="row" fxLayoutAlign="start center" > 
<mat-selection-list #shoes fxFlex="0 1 calc(80% - 11px)"
fxFlex.lt-md="0 1 calc(50% - 11px)"
fxFlex.lt-sm="100%">
    
    <mat-list-option disabled selected >
        
        <h1 mat-list-icon>1º</h1>
        <h4>  Rua José de Araújo Chaves, XXX - Proximo a XXXX </h4>
        
        <div mat-line >Selecionado por: Raimunda</div>
    </mat-list-option>


  
    <mat-list-option >
        <h1 mat-list-icon>2º</h1>
        <h4> Rua José de Araújo Chaves, XXX - Proximo a XXXX  </h4>
        <div mat-line>Wislla Nuanska</div>
    </mat-list-option>
  </mat-selection-list>
  </div>
  <button mat-button><mat-icon>done</mat-icon>Selecionar</button>
</section>


